{
  "openapi": "3.1.0",
  "info": {
    "title": "Kelly Bleck Site API",
    "description": "Your SUPER-powered WP Engine Site",
    "version": "6.5.3",
    "contact": {
      "name": "Kelly Bleck Site",
      "url": "https://sirdev.wpenginepowered.com",
      "email": "kelly@edgesfirst.co"
    }
  },
  "servers": [{ "url": "https://sirdev.wpenginepowered.com/wp-json" }],
  "tags": [
    { "name": "oembed/1.0", "description": "" },
    { "name": "wpe/cache-plugin/v1", "description": "" },
    { "name": "wpe_sign_on_plugin/v1", "description": "" },
    { "name": "yoast/v1", "description": "" },
    { "name": "wp-openapi/v1", "description": "" },
    { "name": "wp/v2", "description": "" },
    { "name": "wp-site-health/v1", "description": "" },
    { "name": "wp-block-editor/v1", "description": "" }
  ],
  "security": [],
  "components": {
    "schemas": {
      "post": {
        "$schema": "http://json-schema.org/draft-04/schema#",
        "title": "post",
        "type": "object",
        "properties": {
          "date": {
            "description": "The date the post was published, in the site's timezone.",
            "type": ["string", "null"],
            "format": "date-time",
            "context": ["view", "edit", "embed"]
          },
          "date_gmt": {
            "description": "The date the post was published, as GMT.",
            "type": ["string", "null"],
            "format": "date-time",
            "context": ["view", "edit"]
          },
          "guid": {
            "description": "The globally unique identifier for the post.",
            "type": "object",
            "context": ["view", "edit"],
            "readonly": true,
            "properties": {
              "raw": {
                "description": "GUID for the post, as it exists in the database.",
                "type": "string",
                "context": ["edit"],
                "readonly": true
              },
              "rendered": {
                "description": "GUID for the post, transformed for display.",
                "type": "string",
                "context": ["view", "edit"],
                "readonly": true
              }
            }
          },
          "id": {
            "description": "Unique identifier for the post.",
            "type": "integer",
            "context": ["view", "edit", "embed"],
            "readonly": true
          },
          "link": {
            "description": "URL to the post.",
            "type": "string",
            "format": "uri",
            "context": ["view", "edit", "embed"],
            "readonly": true
          },
          "modified": {
            "description": "The date the post was last modified, in the site's timezone.",
            "type": "string",
            "format": "date-time",
            "context": ["view", "edit"],
            "readonly": true
          },
          "modified_gmt": {
            "description": "The date the post was last modified, as GMT.",
            "type": "string",
            "format": "date-time",
            "context": ["view", "edit"],
            "readonly": true
          },
          "slug": {
            "description": "An alphanumeric identifier for the post unique to its type.",
            "type": "string",
            "context": ["view", "edit", "embed"]
          },
          "status": {
            "description": "A named status for the post.",
            "type": "string",
            "enum": ["publish", "future", "draft", "pending", "private"],
            "context": ["view", "edit"]
          },
          "type": {
            "description": "Type of post.",
            "type": "string",
            "context": ["view", "edit", "embed"],
            "readonly": true
          },
          "password": {
            "description": "A password to protect access to the content and excerpt.",
            "type": "string",
            "context": ["edit"]
          },
          "permalink_template": {
            "description": "Permalink template for the post.",
            "type": "string",
            "context": ["edit"],
            "readonly": true
          },
          "generated_slug": {
            "description": "Slug automatically generated from the post title.",
            "type": "string",
            "context": ["edit"],
            "readonly": true
          },
          "title": {
            "description": "The title for the post.",
            "type": "object",
            "context": ["view", "edit", "embed"],
            "properties": {
              "raw": {
                "description": "Title for the post, as it exists in the database.",
                "type": "string",
                "context": ["edit"]
              },
              "rendered": {
                "description": "HTML title for the post, transformed for display.",
                "type": "string",
                "context": ["view", "edit", "embed"],
                "readonly": true
              }
            }
          },
          "content": {
            "description": "The content for the post.",
            "type": "object",
            "context": ["view", "edit"],
            "properties": {
              "raw": {
                "description": "Content for the post, as it exists in the database.",
                "type": "string",
                "context": ["edit"]
              },
              "rendered": {
                "description": "HTML content for the post, transformed for display.",
                "type": "string",
                "context": ["view", "edit"],
                "readonly": true
              },
              "block_version": {
                "description": "Version of the content block format used by the post.",
                "type": "integer",
                "context": ["edit"],
                "readonly": true
              },
              "protected": {
                "description": "Whether the content is protected with a password.",
                "type": "boolean",
                "context": ["view", "edit", "embed"],
                "readonly": true
              }
            }
          },
          "author": {
            "description": "The ID for the author of the post.",
            "type": "integer",
            "context": ["view", "edit", "embed"]
          },
          "excerpt": {
            "description": "The excerpt for the post.",
            "type": "object",
            "context": ["view", "edit", "embed"],
            "properties": {
              "raw": {
                "description": "Excerpt for the post, as it exists in the database.",
                "type": "string",
                "context": ["edit"]
              },
              "rendered": {
                "description": "HTML excerpt for the post, transformed for display.",
                "type": "string",
                "context": ["view", "edit", "embed"],
                "readonly": true
              },
              "protected": {
                "description": "Whether the excerpt is protected with a password.",
                "type": "boolean",
                "context": ["view", "edit", "embed"],
                "readonly": true
              }
            }
          },
          "featured_media": {
            "description": "The ID of the featured media for the post.",
            "type": "integer",
            "context": ["view", "edit", "embed"]
          },
          "comment_status": {
            "description": "Whether or not comments are open on the post.",
            "type": "string",
            "enum": ["open", "closed"],
            "context": ["view", "edit"]
          },
          "ping_status": {
            "description": "Whether or not the post can be pinged.",
            "type": "string",
            "enum": ["open", "closed"],
            "context": ["view", "edit"]
          },
          "format": {
            "description": "The format for the post.",
            "type": "string",
            "enum": [
              "standard",
              "aside",
              "chat",
              "gallery",
              "link",
              "image",
              "quote",
              "status",
              "video",
              "audio"
            ],
            "context": ["view", "edit"]
          },
          "meta": {
            "description": "Meta fields.",
            "type": "object",
            "context": ["view", "edit"],
            "properties": {
              "_genesis_block_theme_hide_title": {
                "type": "boolean",
                "description": "",
                "default": false
              },
              "footnotes": {
                "type": "string",
                "description": "",
                "default": ""
              }
            }
          },
          "sticky": {
            "description": "Whether or not the post should be treated as sticky.",
            "type": "boolean",
            "context": ["view", "edit"]
          },
          "template": {
            "description": "The theme file to use to display the post.",
            "type": "string",
            "context": ["view", "edit"]
          },
          "categories": {
            "description": "The terms assigned to the post in the category taxonomy.",
            "type": "array",
            "items": { "type": "integer" },
            "context": ["view", "edit"]
          },
          "tags": {
            "description": "The terms assigned to the post in the post_tag taxonomy.",
            "type": "array",
            "items": { "type": "integer" },
            "context": ["view", "edit"]
          }
        },
        "links": [
          {
            "rel": "https://api.w.org/action-publish",
            "title": "The current user can publish this post.",
            "href": "https://sirdev.wpenginepowered.com/wp-json/wp/v2/posts/{id}",
            "targetSchema": {
              "type": "object",
              "properties": {
                "status": { "type": "string", "enum": ["publish", "future"] }
              }
            }
          },
          {
            "rel": "https://api.w.org/action-unfiltered-html",
            "title": "The current user can post unfiltered HTML markup and JavaScript.",
            "href": "https://sirdev.wpenginepowered.com/wp-json/wp/v2/posts/{id}",
            "targetSchema": {
              "type": "object",
              "properties": { "content": { "raw": { "type": "string" } } }
            }
          },
          {
            "rel": "https://api.w.org/action-sticky",
            "title": "The current user can sticky this post.",
            "href": "https://sirdev.wpenginepowered.com/wp-json/wp/v2/posts/{id}",
            "targetSchema": {
              "type": "object",
              "properties": { "sticky": { "type": "boolean" } }
            }
          },
          {
            "rel": "https://api.w.org/action-assign-author",
            "title": "The current user can change the author on this post.",
            "href": "https://sirdev.wpenginepowered.com/wp-json/wp/v2/posts/{id}",
            "targetSchema": {
              "type": "object",
              "properties": { "author": { "type": "integer" } }
            }
          },
          {
            "rel": "https://api.w.org/action-assign-categories",
            "title": "The current user can assign terms in the category taxonomy.",
            "href": "https://sirdev.wpenginepowered.com/wp-json/wp/v2/posts/{id}",
            "targetSchema": {
              "type": "object",
              "properties": {
                "categories": {
                  "type": "array",
                  "items": { "type": "integer" }
                }
              }
            }
          },
          {
            "rel": "https://api.w.org/action-create-categories",
            "title": "The current user can create terms in the category taxonomy.",
            "href": "https://sirdev.wpenginepowered.com/wp-json/wp/v2/posts/{id}",
            "targetSchema": {
              "type": "object",
              "properties": {
                "categories": {
                  "type": "array",
                  "items": { "type": "integer" }
                }
              }
            }
          },
          {
            "rel": "https://api.w.org/action-assign-tags",
            "title": "The current user can assign terms in the post_tag taxonomy.",
            "href": "https://sirdev.wpenginepowered.com/wp-json/wp/v2/posts/{id}",
            "targetSchema": {
              "type": "object",
              "properties": {
                "tags": { "type": "array", "items": { "type": "integer" } }
              }
            }
          },
          {
            "rel": "https://api.w.org/action-create-tags",
            "title": "The current user can create terms in the post_tag taxonomy.",
            "href": "https://sirdev.wpenginepowered.com/wp-json/wp/v2/posts/{id}",
            "targetSchema": {
              "type": "object",
              "properties": {
                "tags": { "type": "array", "items": { "type": "integer" } }
              }
            }
          }
        ]
      },
      "post-revision": {
        "$schema": "http://json-schema.org/draft-04/schema#",
        "title": "post-revision",
        "type": "object",
        "properties": {
          "author": {
            "description": "The ID for the author of the revision.",
            "type": "integer",
            "context": ["view", "edit", "embed"]
          },
          "date": {
            "description": "The date the revision was published, in the site's timezone.",
            "type": "string",
            "format": "date-time",
            "context": ["view", "edit", "embed"]
          },
          "date_gmt": {
            "description": "The date the revision was published, as GMT.",
            "type": "string",
            "format": "date-time",
            "context": ["view", "edit"]
          },
          "guid": {
            "description": "The globally unique identifier for the post.",
            "type": "object",
            "context": ["view", "edit"],
            "readonly": true,
            "properties": {
              "raw": {
                "description": "GUID for the post, as it exists in the database.",
                "type": "string",
                "context": ["edit"],
                "readonly": true
              },
              "rendered": {
                "description": "GUID for the post, transformed for display.",
                "type": "string",
                "context": ["view", "edit"],
                "readonly": true
              }
            }
          },
          "id": {
            "description": "Unique identifier for the revision.",
            "type": "integer",
            "context": ["view", "edit", "embed"]
          },
          "modified": {
            "description": "The date the revision was last modified, in the site's timezone.",
            "type": "string",
            "format": "date-time",
            "context": ["view", "edit"]
          },
          "modified_gmt": {
            "description": "The date the revision was last modified, as GMT.",
            "type": "string",
            "format": "date-time",
            "context": ["view", "edit"]
          },
          "parent": {
            "description": "The ID for the parent of the revision.",
            "type": "integer",
            "context": ["view", "edit", "embed"]
          },
          "slug": {
            "description": "An alphanumeric identifier for the revision unique to its type.",
            "type": "string",
            "context": ["view", "edit", "embed"]
          },
          "title": {
            "description": "The title for the post.",
            "type": "object",
            "context": ["view", "edit", "embed"],
            "properties": {
              "raw": {
                "description": "Title for the post, as it exists in the database.",
                "type": "string",
                "context": ["edit"]
              },
              "rendered": {
                "description": "HTML title for the post, transformed for display.",
                "type": "string",
                "context": ["view", "edit", "embed"],
                "readonly": true
              }
            }
          },
          "content": {
            "description": "The content for the post.",
            "type": "object",
            "context": ["view", "edit"],
            "properties": {
              "raw": {
                "description": "Content for the post, as it exists in the database.",
                "type": "string",
                "context": ["edit"]
              },
              "rendered": {
                "description": "HTML content for the post, transformed for display.",
                "type": "string",
                "context": ["view", "edit"],
                "readonly": true
              },
              "block_version": {
                "description": "Version of the content block format used by the post.",
                "type": "integer",
                "context": ["edit"],
                "readonly": true
              },
              "protected": {
                "description": "Whether the content is protected with a password.",
                "type": "boolean",
                "context": ["view", "edit", "embed"],
                "readonly": true
              }
            }
          },
          "excerpt": {
            "description": "The excerpt for the post.",
            "type": "object",
            "context": ["view", "edit", "embed"],
            "properties": {
              "raw": {
                "description": "Excerpt for the post, as it exists in the database.",
                "type": "string",
                "context": ["edit"]
              },
              "rendered": {
                "description": "HTML excerpt for the post, transformed for display.",
                "type": "string",
                "context": ["view", "edit", "embed"],
                "readonly": true
              },
              "protected": {
                "description": "Whether the excerpt is protected with a password.",
                "type": "boolean",
                "context": ["view", "edit", "embed"],
                "readonly": true
              }
            }
          },
          "meta": {
            "description": "Meta fields.",
            "type": "object",
            "context": ["view", "edit"],
            "properties": {
              "_genesis_block_theme_hide_title": {
                "type": "boolean",
                "description": "",
                "default": false
              },
              "footnotes": {
                "type": "string",
                "description": "",
                "default": ""
              }
            }
          },
          "preview_link": {
            "description": "Preview link for the post.",
            "type": "string",
            "format": "uri",
            "context": ["edit"],
            "readonly": true
          }
        }
      },
      "page": {
        "$schema": "http://json-schema.org/draft-04/schema#",
        "title": "page",
        "type": "object",
        "properties": {
          "date": {
            "description": "The date the post was published, in the site's timezone.",
            "type": ["string", "null"],
            "format": "date-time",
            "context": ["view", "edit", "embed"]
          },
          "date_gmt": {
            "description": "The date the post was published, as GMT.",
            "type": ["string", "null"],
            "format": "date-time",
            "context": ["view", "edit"]
          },
          "guid": {
            "description": "The globally unique identifier for the post.",
            "type": "object",
            "context": ["view", "edit"],
            "readonly": true,
            "properties": {
              "raw": {
                "description": "GUID for the post, as it exists in the database.",
                "type": "string",
                "context": ["edit"],
                "readonly": true
              },
              "rendered": {
                "description": "GUID for the post, transformed for display.",
                "type": "string",
                "context": ["view", "edit"],
                "readonly": true
              }
            }
          },
          "id": {
            "description": "Unique identifier for the post.",
            "type": "integer",
            "context": ["view", "edit", "embed"],
            "readonly": true
          },
          "link": {
            "description": "URL to the post.",
            "type": "string",
            "format": "uri",
            "context": ["view", "edit", "embed"],
            "readonly": true
          },
          "modified": {
            "description": "The date the post was last modified, in the site's timezone.",
            "type": "string",
            "format": "date-time",
            "context": ["view", "edit"],
            "readonly": true
          },
          "modified_gmt": {
            "description": "The date the post was last modified, as GMT.",
            "type": "string",
            "format": "date-time",
            "context": ["view", "edit"],
            "readonly": true
          },
          "slug": {
            "description": "An alphanumeric identifier for the post unique to its type.",
            "type": "string",
            "context": ["view", "edit", "embed"]
          },
          "status": {
            "description": "A named status for the post.",
            "type": "string",
            "enum": ["publish", "future", "draft", "pending", "private"],
            "context": ["view", "edit"]
          },
          "type": {
            "description": "Type of post.",
            "type": "string",
            "context": ["view", "edit", "embed"],
            "readonly": true
          },
          "password": {
            "description": "A password to protect access to the content and excerpt.",
            "type": "string",
            "context": ["edit"]
          },
          "permalink_template": {
            "description": "Permalink template for the post.",
            "type": "string",
            "context": ["edit"],
            "readonly": true
          },
          "generated_slug": {
            "description": "Slug automatically generated from the post title.",
            "type": "string",
            "context": ["edit"],
            "readonly": true
          },
          "parent": {
            "description": "The ID for the parent of the post.",
            "type": "integer",
            "context": ["view", "edit"]
          },
          "title": {
            "description": "The title for the post.",
            "type": "object",
            "context": ["view", "edit", "embed"],
            "properties": {
              "raw": {
                "description": "Title for the post, as it exists in the database.",
                "type": "string",
                "context": ["edit"]
              },
              "rendered": {
                "description": "HTML title for the post, transformed for display.",
                "type": "string",
                "context": ["view", "edit", "embed"],
                "readonly": true
              }
            }
          },
          "content": {
            "description": "The content for the post.",
            "type": "object",
            "context": ["view", "edit"],
            "properties": {
              "raw": {
                "description": "Content for the post, as it exists in the database.",
                "type": "string",
                "context": ["edit"]
              },
              "rendered": {
                "description": "HTML content for the post, transformed for display.",
                "type": "string",
                "context": ["view", "edit"],
                "readonly": true
              },
              "block_version": {
                "description": "Version of the content block format used by the post.",
                "type": "integer",
                "context": ["edit"],
                "readonly": true
              },
              "protected": {
                "description": "Whether the content is protected with a password.",
                "type": "boolean",
                "context": ["view", "edit", "embed"],
                "readonly": true
              }
            }
          },
          "author": {
            "description": "The ID for the author of the post.",
            "type": "integer",
            "context": ["view", "edit", "embed"]
          },
          "excerpt": {
            "description": "The excerpt for the post.",
            "type": "object",
            "context": ["view", "edit", "embed"],
            "properties": {
              "raw": {
                "description": "Excerpt for the post, as it exists in the database.",
                "type": "string",
                "context": ["edit"]
              },
              "rendered": {
                "description": "HTML excerpt for the post, transformed for display.",
                "type": "string",
                "context": ["view", "edit", "embed"],
                "readonly": true
              },
              "protected": {
                "description": "Whether the excerpt is protected with a password.",
                "type": "boolean",
                "context": ["view", "edit", "embed"],
                "readonly": true
              }
            }
          },
          "featured_media": {
            "description": "The ID of the featured media for the post.",
            "type": "integer",
            "context": ["view", "edit", "embed"]
          },
          "comment_status": {
            "description": "Whether or not comments are open on the post.",
            "type": "string",
            "enum": ["open", "closed"],
            "context": ["view", "edit"]
          },
          "ping_status": {
            "description": "Whether or not the post can be pinged.",
            "type": "string",
            "enum": ["open", "closed"],
            "context": ["view", "edit"]
          },
          "menu_order": {
            "description": "The order of the post in relation to other posts.",
            "type": "integer",
            "context": ["view", "edit"]
          },
          "meta": {
            "description": "Meta fields.",
            "type": "object",
            "context": ["view", "edit"],
            "properties": {
              "_genesis_block_theme_hide_title": {
                "type": "boolean",
                "description": "",
                "default": false
              },
              "footnotes": {
                "type": "string",
                "description": "",
                "default": ""
              }
            }
          },
          "template": {
            "description": "The theme file to use to display the post.",
            "type": "string",
            "context": ["view", "edit"]
          }
        },
        "links": [
          {
            "rel": "https://api.w.org/action-publish",
            "title": "The current user can publish this post.",
            "href": "https://sirdev.wpenginepowered.com/wp-json/wp/v2/pages/{id}",
            "targetSchema": {
              "type": "object",
              "properties": {
                "status": { "type": "string", "enum": ["publish", "future"] }
              }
            }
          },
          {
            "rel": "https://api.w.org/action-unfiltered-html",
            "title": "The current user can post unfiltered HTML markup and JavaScript.",
            "href": "https://sirdev.wpenginepowered.com/wp-json/wp/v2/pages/{id}",
            "targetSchema": {
              "type": "object",
              "properties": { "content": { "raw": { "type": "string" } } }
            }
          },
          {
            "rel": "https://api.w.org/action-assign-author",
            "title": "The current user can change the author on this post.",
            "href": "https://sirdev.wpenginepowered.com/wp-json/wp/v2/pages/{id}",
            "targetSchema": {
              "type": "object",
              "properties": { "author": { "type": "integer" } }
            }
          }
        ]
      },
      "page-revision": {
        "$schema": "http://json-schema.org/draft-04/schema#",
        "title": "page-revision",
        "type": "object",
        "properties": {
          "author": {
            "description": "The ID for the author of the revision.",
            "type": "integer",
            "context": ["view", "edit", "embed"]
          },
          "date": {
            "description": "The date the revision was published, in the site's timezone.",
            "type": "string",
            "format": "date-time",
            "context": ["view", "edit", "embed"]
          },
          "date_gmt": {
            "description": "The date the revision was published, as GMT.",
            "type": "string",
            "format": "date-time",
            "context": ["view", "edit"]
          },
          "guid": {
            "description": "The globally unique identifier for the post.",
            "type": "object",
            "context": ["view", "edit"],
            "readonly": true,
            "properties": {
              "raw": {
                "description": "GUID for the post, as it exists in the database.",
                "type": "string",
                "context": ["edit"],
                "readonly": true
              },
              "rendered": {
                "description": "GUID for the post, transformed for display.",
                "type": "string",
                "context": ["view", "edit"],
                "readonly": true
              }
            }
          },
          "id": {
            "description": "Unique identifier for the revision.",
            "type": "integer",
            "context": ["view", "edit", "embed"]
          },
          "modified": {
            "description": "The date the revision was last modified, in the site's timezone.",
            "type": "string",
            "format": "date-time",
            "context": ["view", "edit"]
          },
          "modified_gmt": {
            "description": "The date the revision was last modified, as GMT.",
            "type": "string",
            "format": "date-time",
            "context": ["view", "edit"]
          },
          "parent": {
            "description": "The ID for the parent of the revision.",
            "type": "integer",
            "context": ["view", "edit", "embed"]
          },
          "slug": {
            "description": "An alphanumeric identifier for the revision unique to its type.",
            "type": "string",
            "context": ["view", "edit", "embed"]
          },
          "title": {
            "description": "The title for the post.",
            "type": "object",
            "context": ["view", "edit", "embed"],
            "properties": {
              "raw": {
                "description": "Title for the post, as it exists in the database.",
                "type": "string",
                "context": ["edit"]
              },
              "rendered": {
                "description": "HTML title for the post, transformed for display.",
                "type": "string",
                "context": ["view", "edit", "embed"],
                "readonly": true
              }
            }
          },
          "content": {
            "description": "The content for the post.",
            "type": "object",
            "context": ["view", "edit"],
            "properties": {
              "raw": {
                "description": "Content for the post, as it exists in the database.",
                "type": "string",
                "context": ["edit"]
              },
              "rendered": {
                "description": "HTML content for the post, transformed for display.",
                "type": "string",
                "context": ["view", "edit"],
                "readonly": true
              },
              "block_version": {
                "description": "Version of the content block format used by the post.",
                "type": "integer",
                "context": ["edit"],
                "readonly": true
              },
              "protected": {
                "description": "Whether the content is protected with a password.",
                "type": "boolean",
                "context": ["view", "edit", "embed"],
                "readonly": true
              }
            }
          },
          "excerpt": {
            "description": "The excerpt for the post.",
            "type": "object",
            "context": ["view", "edit", "embed"],
            "properties": {
              "raw": {
                "description": "Excerpt for the post, as it exists in the database.",
                "type": "string",
                "context": ["edit"]
              },
              "rendered": {
                "description": "HTML excerpt for the post, transformed for display.",
                "type": "string",
                "context": ["view", "edit", "embed"],
                "readonly": true
              },
              "protected": {
                "description": "Whether the excerpt is protected with a password.",
                "type": "boolean",
                "context": ["view", "edit", "embed"],
                "readonly": true
              }
            }
          },
          "meta": {
            "description": "Meta fields.",
            "type": "object",
            "context": ["view", "edit"],
            "properties": {
              "_genesis_block_theme_hide_title": {
                "type": "boolean",
                "description": "",
                "default": false
              },
              "footnotes": {
                "type": "string",
                "description": "",
                "default": ""
              }
            }
          },
          "preview_link": {
            "description": "Preview link for the post.",
            "type": "string",
            "format": "uri",
            "context": ["edit"],
            "readonly": true
          }
        }
      },
      "attachment": {
        "$schema": "http://json-schema.org/draft-04/schema#",
        "title": "attachment",
        "type": "object",
        "properties": {
          "date": {
            "description": "The date the post was published, in the site's timezone.",
            "type": ["string", "null"],
            "format": "date-time",
            "context": ["view", "edit", "embed"]
          },
          "date_gmt": {
            "description": "The date the post was published, as GMT.",
            "type": ["string", "null"],
            "format": "date-time",
            "context": ["view", "edit"]
          },
          "guid": {
            "description": "The globally unique identifier for the post.",
            "type": "object",
            "context": ["view", "edit"],
            "readonly": true,
            "properties": {
              "raw": {
                "description": "GUID for the post, as it exists in the database.",
                "type": "string",
                "context": ["edit"],
                "readonly": true
              },
              "rendered": {
                "description": "GUID for the post, transformed for display.",
                "type": "string",
                "context": ["view", "edit"],
                "readonly": true
              }
            }
          },
          "id": {
            "description": "Unique identifier for the post.",
            "type": "integer",
            "context": ["view", "edit", "embed"],
            "readonly": true
          },
          "link": {
            "description": "URL to the post.",
            "type": "string",
            "format": "uri",
            "context": ["view", "edit", "embed"],
            "readonly": true
          },
          "modified": {
            "description": "The date the post was last modified, in the site's timezone.",
            "type": "string",
            "format": "date-time",
            "context": ["view", "edit"],
            "readonly": true
          },
          "modified_gmt": {
            "description": "The date the post was last modified, as GMT.",
            "type": "string",
            "format": "date-time",
            "context": ["view", "edit"],
            "readonly": true
          },
          "slug": {
            "description": "An alphanumeric identifier for the post unique to its type.",
            "type": "string",
            "context": ["view", "edit", "embed"]
          },
          "status": {
            "description": "A named status for the post.",
            "type": "string",
            "enum": ["publish", "future", "draft", "pending", "private"],
            "context": ["view", "edit"]
          },
          "type": {
            "description": "Type of post.",
            "type": "string",
            "context": ["view", "edit", "embed"],
            "readonly": true
          },
          "permalink_template": {
            "description": "Permalink template for the post.",
            "type": "string",
            "context": ["edit"],
            "readonly": true
          },
          "generated_slug": {
            "description": "Slug automatically generated from the post title.",
            "type": "string",
            "context": ["edit"],
            "readonly": true
          },
          "title": {
            "description": "The title for the post.",
            "type": "object",
            "context": ["view", "edit", "embed"],
            "properties": {
              "raw": {
                "description": "Title for the post, as it exists in the database.",
                "type": "string",
                "context": ["edit"]
              },
              "rendered": {
                "description": "HTML title for the post, transformed for display.",
                "type": "string",
                "context": ["view", "edit", "embed"],
                "readonly": true
              }
            }
          },
          "author": {
            "description": "The ID for the author of the post.",
            "type": "integer",
            "context": ["view", "edit", "embed"]
          },
          "featured_media": {
            "description": "The ID of the featured media for the post.",
            "type": "integer",
            "context": ["view", "edit", "embed"]
          },
          "comment_status": {
            "description": "Whether or not comments are open on the post.",
            "type": "string",
            "enum": ["open", "closed"],
            "context": ["view", "edit"]
          },
          "ping_status": {
            "description": "Whether or not the post can be pinged.",
            "type": "string",
            "enum": ["open", "closed"],
            "context": ["view", "edit"]
          },
          "meta": {
            "description": "Meta fields.",
            "type": "object",
            "context": ["view", "edit"],
            "properties": {
              "_genesis_block_theme_hide_title": {
                "type": "boolean",
                "description": "",
                "default": false
              }
            }
          },
          "template": {
            "description": "The theme file to use to display the post.",
            "type": "string",
            "context": ["view", "edit"]
          },
          "alt_text": {
            "description": "Alternative text to display when attachment is not displayed.",
            "type": "string",
            "context": ["view", "edit", "embed"]
          },
          "caption": {
            "description": "The attachment caption.",
            "type": "object",
            "context": ["view", "edit", "embed"],
            "properties": {
              "raw": {
                "description": "Caption for the attachment, as it exists in the database.",
                "type": "string",
                "context": ["edit"]
              },
              "rendered": {
                "description": "HTML caption for the attachment, transformed for display.",
                "type": "string",
                "context": ["view", "edit", "embed"],
                "readonly": true
              }
            }
          },
          "description": {
            "description": "The attachment description.",
            "type": "object",
            "context": ["view", "edit"],
            "properties": {
              "raw": {
                "description": "Description for the attachment, as it exists in the database.",
                "type": "string",
                "context": ["edit"]
              },
              "rendered": {
                "description": "HTML description for the attachment, transformed for display.",
                "type": "string",
                "context": ["view", "edit"],
                "readonly": true
              }
            }
          },
          "media_type": {
            "description": "Attachment type.",
            "type": "string",
            "enum": ["image", "file"],
            "context": ["view", "edit", "embed"],
            "readonly": true
          },
          "mime_type": {
            "description": "The attachment MIME type.",
            "type": "string",
            "context": ["view", "edit", "embed"],
            "readonly": true
          },
          "media_details": {
            "description": "Details about the media file, specific to its type.",
            "type": "object",
            "context": ["view", "edit", "embed"],
            "readonly": true
          },
          "post": {
            "description": "The ID for the associated post of the attachment.",
            "type": "integer",
            "context": ["view", "edit"]
          },
          "source_url": {
            "description": "URL to the original attachment file.",
            "type": "string",
            "format": "uri",
            "context": ["view", "edit", "embed"],
            "readonly": true
          },
          "missing_image_sizes": {
            "description": "List of the missing image sizes of the attachment.",
            "type": "array",
            "items": { "type": "string" },
            "context": ["edit"],
            "readonly": true
          }
        },
        "links": [
          {
            "rel": "https://api.w.org/action-unfiltered-html",
            "title": "The current user can post unfiltered HTML markup and JavaScript.",
            "href": "https://sirdev.wpenginepowered.com/wp-json/wp/v2/media/{id}",
            "targetSchema": {
              "type": "object",
              "properties": { "content": { "raw": { "type": "string" } } }
            }
          },
          {
            "rel": "https://api.w.org/action-assign-author",
            "title": "The current user can change the author on this post.",
            "href": "https://sirdev.wpenginepowered.com/wp-json/wp/v2/media/{id}",
            "targetSchema": {
              "type": "object",
              "properties": { "author": { "type": "integer" } }
            }
          }
        ]
      },
      "nav_menu_item": {
        "$schema": "http://json-schema.org/draft-04/schema#",
        "title": "nav_menu_item",
        "type": "object",
        "properties": {
          "title": {
            "description": "The title for the object.",
            "type": ["string", "object"],
            "context": ["view", "edit", "embed"],
            "properties": {
              "raw": {
                "description": "Title for the object, as it exists in the database.",
                "type": "string",
                "context": ["edit"]
              },
              "rendered": {
                "description": "HTML title for the object, transformed for display.",
                "type": "string",
                "context": ["view", "edit", "embed"],
                "readonly": true
              }
            }
          },
          "id": {
            "description": "Unique identifier for the object.",
            "type": "integer",
            "default": 0,
            "minimum": 0,
            "context": ["view", "edit", "embed"],
            "readonly": true
          },
          "type_label": {
            "description": "The singular label used to describe this type of menu item.",
            "type": "string",
            "context": ["view", "edit", "embed"],
            "readonly": true
          },
          "type": {
            "description": "The family of objects originally represented, such as \"post_type\" or \"taxonomy\".",
            "type": "string",
            "enum": ["taxonomy", "post_type", "post_type_archive", "custom"],
            "context": ["view", "edit", "embed"],
            "default": "custom"
          },
          "status": {
            "description": "A named status for the object.",
            "type": "string",
            "enum": ["publish", "future", "draft", "pending", "private"],
            "default": "publish",
            "context": ["view", "edit", "embed"]
          },
          "parent": {
            "description": "The ID for the parent of the object.",
            "type": "integer",
            "minimum": 0,
            "default": 0,
            "context": ["view", "edit", "embed"]
          },
          "attr_title": {
            "description": "Text for the title attribute of the link element for this menu item.",
            "type": "string",
            "context": ["view", "edit", "embed"]
          },
          "classes": {
            "description": "Class names for the link element of this menu item.",
            "type": "array",
            "items": { "type": "string" },
            "context": ["view", "edit", "embed"]
          },
          "description": {
            "description": "The description of this menu item.",
            "type": "string",
            "context": ["view", "edit", "embed"]
          },
          "menu_order": {
            "description": "The DB ID of the nav_menu_item that is this item's menu parent, if any, otherwise 0.",
            "context": ["view", "edit", "embed"],
            "type": "integer",
            "minimum": 1,
            "default": 1
          },
          "object": {
            "description": "The type of object originally represented, such as \"category\", \"post\", or \"attachment\".",
            "context": ["view", "edit", "embed"],
            "type": "string"
          },
          "object_id": {
            "description": "The database ID of the original object this menu item represents, for example the ID for posts or the term_id for categories.",
            "context": ["view", "edit", "embed"],
            "type": "integer",
            "minimum": 0,
            "default": 0
          },
          "target": {
            "description": "The target attribute of the link element for this menu item.",
            "type": "string",
            "context": ["view", "edit", "embed"],
            "enum": ["_blank", ""]
          },
          "url": {
            "description": "The URL to which this menu item points.",
            "type": "string",
            "format": "uri",
            "context": ["view", "edit", "embed"]
          },
          "xfn": {
            "description": "The XFN relationship expressed in the link of this menu item.",
            "type": "array",
            "items": { "type": "string" },
            "context": ["view", "edit", "embed"]
          },
          "invalid": {
            "description": "Whether the menu item represents an object that no longer exists.",
            "context": ["view", "edit", "embed"],
            "type": "boolean",
            "readonly": true
          },
          "menus": {
            "description": "The terms assigned to the object in the nav_menu taxonomy.",
            "type": "integer",
            "context": ["view", "edit"]
          },
          "meta": {
            "description": "Meta fields.",
            "type": "object",
            "context": ["view", "edit"],
            "properties": {
              "_genesis_block_theme_hide_title": {
                "type": "boolean",
                "description": "",
                "default": false
              }
            }
          }
        },
        "links": [
          {
            "rel": "https://api.w.org/action-publish",
            "title": "The current user can publish this post.",
            "href": "https://sirdev.wpenginepowered.com/wp-json/wp/v2/menu-items/{id}",
            "targetSchema": {
              "type": "object",
              "properties": {
                "status": { "type": "string", "enum": ["publish", "future"] }
              }
            }
          },
          {
            "rel": "https://api.w.org/action-unfiltered-html",
            "title": "The current user can post unfiltered HTML markup and JavaScript.",
            "href": "https://sirdev.wpenginepowered.com/wp-json/wp/v2/menu-items/{id}",
            "targetSchema": {
              "type": "object",
              "properties": { "content": { "raw": { "type": "string" } } }
            }
          },
          {
            "rel": "https://api.w.org/action-assign-menus",
            "title": "The current user can assign terms in the nav_menu taxonomy.",
            "href": "https://sirdev.wpenginepowered.com/wp-json/wp/v2/menu-items/{id}",
            "targetSchema": {
              "type": "object",
              "properties": {
                "menus": { "type": "array", "items": { "type": "integer" } }
              }
            }
          },
          {
            "rel": "https://api.w.org/action-create-menus",
            "title": "The current user can create terms in the nav_menu taxonomy.",
            "href": "https://sirdev.wpenginepowered.com/wp-json/wp/v2/menu-items/{id}",
            "targetSchema": {
              "type": "object",
              "properties": {
                "menus": { "type": "array", "items": { "type": "integer" } }
              }
            }
          },
          {
            "rel": "https://api.w.org/menu-item-object",
            "title": "Get linked object.",
            "href": "https://sirdev.wpenginepowered.com/wp-json/wp/v2/menu-items/{id}",
            "targetSchema": {
              "type": "object",
              "properties": { "object": { "type": "integer" } }
            }
          }
        ]
      },
      "nav_menu_item-revision": {
        "$schema": "http://json-schema.org/draft-04/schema#",
        "title": "nav_menu_item-revision",
        "type": "object",
        "properties": {
          "author": {
            "description": "The ID for the author of the revision.",
            "type": "integer",
            "context": ["view", "edit", "embed"]
          },
          "date": {
            "description": "The date the revision was published, in the site's timezone.",
            "type": "string",
            "format": "date-time",
            "context": ["view", "edit", "embed"]
          },
          "date_gmt": {
            "description": "The date the revision was published, as GMT.",
            "type": "string",
            "format": "date-time",
            "context": ["view", "edit"]
          },
          "guid": {
            "description": "GUID for the revision, as it exists in the database.",
            "type": "string",
            "context": ["view", "edit"]
          },
          "id": {
            "description": "Unique identifier for the revision.",
            "type": "integer",
            "context": ["view", "edit", "embed"]
          },
          "modified": {
            "description": "The date the revision was last modified, in the site's timezone.",
            "type": "string",
            "format": "date-time",
            "context": ["view", "edit"]
          },
          "modified_gmt": {
            "description": "The date the revision was last modified, as GMT.",
            "type": "string",
            "format": "date-time",
            "context": ["view", "edit"]
          },
          "parent": {
            "description": "The ID for the parent of the revision.",
            "type": "integer",
            "context": ["view", "edit", "embed"]
          },
          "slug": {
            "description": "An alphanumeric identifier for the revision unique to its type.",
            "type": "string",
            "context": ["view", "edit", "embed"]
          },
          "title": {
            "description": "The title for the object.",
            "type": ["string", "object"],
            "context": ["view", "edit", "embed"],
            "properties": {
              "raw": {
                "description": "Title for the object, as it exists in the database.",
                "type": "string",
                "context": ["edit"]
              },
              "rendered": {
                "description": "HTML title for the object, transformed for display.",
                "type": "string",
                "context": ["view", "edit", "embed"],
                "readonly": true
              }
            }
          },
          "meta": {
            "description": "Meta fields.",
            "type": "object",
            "context": ["view", "edit"],
            "properties": {
              "_genesis_block_theme_hide_title": {
                "type": "boolean",
                "description": "",
                "default": false
              }
            }
          },
          "preview_link": {
            "description": "Preview link for the post.",
            "type": "string",
            "format": "uri",
            "context": ["edit"],
            "readonly": true
          }
        }
      },
      "wp_block": {
        "$schema": "http://json-schema.org/draft-04/schema#",
        "title": "wp_block",
        "type": "object",
        "properties": {
          "date": {
            "description": "The date the post was published, in the site's timezone.",
            "type": ["string", "null"],
            "format": "date-time",
            "context": ["view", "edit", "embed"]
          },
          "date_gmt": {
            "description": "The date the post was published, as GMT.",
            "type": ["string", "null"],
            "format": "date-time",
            "context": ["view", "edit"]
          },
          "guid": {
            "description": "The globally unique identifier for the post.",
            "type": "object",
            "context": ["view", "edit"],
            "readonly": true,
            "properties": {
              "raw": {
                "description": "GUID for the post, as it exists in the database.",
                "type": "string",
                "context": ["edit"],
                "readonly": true
              },
              "rendered": {
                "description": "GUID for the post, transformed for display.",
                "type": "string",
                "context": ["view", "edit"],
                "readonly": true
              }
            }
          },
          "id": {
            "description": "Unique identifier for the post.",
            "type": "integer",
            "context": ["view", "edit", "embed"],
            "readonly": true
          },
          "link": {
            "description": "URL to the post.",
            "type": "string",
            "format": "uri",
            "context": ["view", "edit", "embed"],
            "readonly": true
          },
          "modified": {
            "description": "The date the post was last modified, in the site's timezone.",
            "type": "string",
            "format": "date-time",
            "context": ["view", "edit"],
            "readonly": true
          },
          "modified_gmt": {
            "description": "The date the post was last modified, as GMT.",
            "type": "string",
            "format": "date-time",
            "context": ["view", "edit"],
            "readonly": true
          },
          "slug": {
            "description": "An alphanumeric identifier for the post unique to its type.",
            "type": "string",
            "context": ["view", "edit", "embed"]
          },
          "status": {
            "description": "A named status for the post.",
            "type": "string",
            "enum": ["publish", "future", "draft", "pending", "private"],
            "context": ["view", "edit"]
          },
          "type": {
            "description": "Type of post.",
            "type": "string",
            "context": ["view", "edit", "embed"],
            "readonly": true
          },
          "password": {
            "description": "A password to protect access to the content and excerpt.",
            "type": "string",
            "context": ["edit"]
          },
          "title": {
            "description": "The title for the post.",
            "type": "object",
            "context": ["view", "edit", "embed"],
            "properties": {
              "raw": {
                "description": "Title for the post, as it exists in the database.",
                "type": "string",
                "context": ["view", "edit"]
              }
            }
          },
          "content": {
            "description": "The content for the post.",
            "type": "object",
            "context": ["view", "edit"],
            "properties": {
              "raw": {
                "description": "Content for the post, as it exists in the database.",
                "type": "string",
                "context": ["view", "edit"]
              },
              "block_version": {
                "description": "Version of the content block format used by the post.",
                "type": "integer",
                "context": ["edit"],
                "readonly": true
              },
              "protected": {
                "description": "Whether the content is protected with a password.",
                "type": "boolean",
                "context": ["view", "edit", "embed"],
                "readonly": true
              }
            }
          },
          "meta": {
            "description": "Meta fields.",
            "type": "object",
            "context": ["view", "edit"],
            "properties": {
              "_genesis_block_theme_hide_title": {
                "type": "boolean",
                "description": "",
                "default": false
              },
              "wp_pattern_sync_status": {
                "type": "string",
                "description": "",
                "default": "",
                "enum": ["partial", "unsynced"]
              },
              "footnotes": {
                "type": "string",
                "description": "",
                "default": ""
              }
            }
          },
          "template": {
            "description": "The theme file to use to display the post.",
            "type": "string",
            "context": ["view", "edit"]
          },
          "wp_pattern_category": {
            "description": "The terms assigned to the post in the wp_pattern_category taxonomy.",
            "type": "array",
            "items": { "type": "integer" },
            "context": ["view", "edit"]
          }
        },
        "links": [
          {
            "rel": "https://api.w.org/action-publish",
            "title": "The current user can publish this post.",
            "href": "https://sirdev.wpenginepowered.com/wp-json/wp/v2/blocks/{id}",
            "targetSchema": {
              "type": "object",
              "properties": {
                "status": { "type": "string", "enum": ["publish", "future"] }
              }
            }
          },
          {
            "rel": "https://api.w.org/action-unfiltered-html",
            "title": "The current user can post unfiltered HTML markup and JavaScript.",
            "href": "https://sirdev.wpenginepowered.com/wp-json/wp/v2/blocks/{id}",
            "targetSchema": {
              "type": "object",
              "properties": { "content": { "raw": { "type": "string" } } }
            }
          },
          {
            "rel": "https://api.w.org/action-assign-wp_pattern_category",
            "title": "The current user can assign terms in the wp_pattern_category taxonomy.",
            "href": "https://sirdev.wpenginepowered.com/wp-json/wp/v2/blocks/{id}",
            "targetSchema": {
              "type": "object",
              "properties": {
                "wp_pattern_category": {
                  "type": "array",
                  "items": { "type": "integer" }
                }
              }
            }
          },
          {
            "rel": "https://api.w.org/action-create-wp_pattern_category",
            "title": "The current user can create terms in the wp_pattern_category taxonomy.",
            "href": "https://sirdev.wpenginepowered.com/wp-json/wp/v2/blocks/{id}",
            "targetSchema": {
              "type": "object",
              "properties": {
                "wp_pattern_category": {
                  "type": "array",
                  "items": { "type": "integer" }
                }
              }
            }
          }
        ]
      },
      "wp_block-revision": {
        "$schema": "http://json-schema.org/draft-04/schema#",
        "title": "wp_block-revision",
        "type": "object",
        "properties": {
          "author": {
            "description": "The ID for the author of the revision.",
            "type": "integer",
            "context": ["view", "edit", "embed"]
          },
          "date": {
            "description": "The date the revision was published, in the site's timezone.",
            "type": "string",
            "format": "date-time",
            "context": ["view", "edit", "embed"]
          },
          "date_gmt": {
            "description": "The date the revision was published, as GMT.",
            "type": "string",
            "format": "date-time",
            "context": ["view", "edit"]
          },
          "guid": {
            "description": "The globally unique identifier for the post.",
            "type": "object",
            "context": ["view", "edit"],
            "readonly": true,
            "properties": {
              "raw": {
                "description": "GUID for the post, as it exists in the database.",
                "type": "string",
                "context": ["edit"],
                "readonly": true
              },
              "rendered": {
                "description": "GUID for the post, transformed for display.",
                "type": "string",
                "context": ["view", "edit"],
                "readonly": true
              }
            }
          },
          "id": {
            "description": "Unique identifier for the revision.",
            "type": "integer",
            "context": ["view", "edit", "embed"]
          },
          "modified": {
            "description": "The date the revision was last modified, in the site's timezone.",
            "type": "string",
            "format": "date-time",
            "context": ["view", "edit"]
          },
          "modified_gmt": {
            "description": "The date the revision was last modified, as GMT.",
            "type": "string",
            "format": "date-time",
            "context": ["view", "edit"]
          },
          "parent": {
            "description": "The ID for the parent of the revision.",
            "type": "integer",
            "context": ["view", "edit", "embed"]
          },
          "slug": {
            "description": "An alphanumeric identifier for the revision unique to its type.",
            "type": "string",
            "context": ["view", "edit", "embed"]
          },
          "title": {
            "description": "The title for the post.",
            "type": "object",
            "context": ["view", "edit", "embed"],
            "properties": {
              "raw": {
                "description": "Title for the post, as it exists in the database.",
                "type": "string",
                "context": ["view", "edit"]
              }
            }
          },
          "content": {
            "description": "The content for the post.",
            "type": "object",
            "context": ["view", "edit"],
            "properties": {
              "raw": {
                "description": "Content for the post, as it exists in the database.",
                "type": "string",
                "context": ["view", "edit"]
              },
              "block_version": {
                "description": "Version of the content block format used by the post.",
                "type": "integer",
                "context": ["edit"],
                "readonly": true
              },
              "protected": {
                "description": "Whether the content is protected with a password.",
                "type": "boolean",
                "context": ["view", "edit", "embed"],
                "readonly": true
              }
            }
          },
          "meta": {
            "description": "Meta fields.",
            "type": "object",
            "context": ["view", "edit"],
            "properties": {
              "_genesis_block_theme_hide_title": {
                "type": "boolean",
                "description": "",
                "default": false
              },
              "wp_pattern_sync_status": {
                "type": "string",
                "description": "",
                "default": "",
                "enum": ["partial", "unsynced"]
              },
              "footnotes": {
                "type": "string",
                "description": "",
                "default": ""
              }
            }
          },
          "preview_link": {
            "description": "Preview link for the post.",
            "type": "string",
            "format": "uri",
            "context": ["edit"],
            "readonly": true
          }
        }
      },
      "wp_template": {
        "$schema": "http://json-schema.org/draft-04/schema#",
        "title": "wp_template",
        "type": "object",
        "properties": {
          "id": {
            "description": "ID of template.",
            "type": "string",
            "context": ["embed", "view", "edit"],
            "readonly": true
          },
          "slug": {
            "description": "Unique slug identifying the template.",
            "type": "string",
            "context": ["embed", "view", "edit"],
            "required": true,
            "minLength": 1,
            "pattern": "[a-zA-Z0-9_\\%-]+"
          },
          "theme": {
            "description": "Theme identifier for the template.",
            "type": "string",
            "context": ["embed", "view", "edit"]
          },
          "type": {
            "description": "Type of template.",
            "type": "string",
            "context": ["embed", "view", "edit"]
          },
          "source": {
            "description": "Source of template",
            "type": "string",
            "context": ["embed", "view", "edit"],
            "readonly": true
          },
          "origin": {
            "description": "Source of a customized template",
            "type": "string",
            "context": ["embed", "view", "edit"],
            "readonly": true
          },
          "content": {
            "description": "Content of template.",
            "type": ["object", "string"],
            "default": "",
            "context": ["embed", "view", "edit"],
            "properties": {
              "raw": {
                "description": "Content for the template, as it exists in the database.",
                "type": "string",
                "context": ["view", "edit"]
              },
              "block_version": {
                "description": "Version of the content block format used by the template.",
                "type": "integer",
                "context": ["edit"],
                "readonly": true
              }
            }
          },
          "title": {
            "description": "Title of template.",
            "type": ["object", "string"],
            "default": "",
            "context": ["embed", "view", "edit"],
            "properties": {
              "raw": {
                "description": "Title for the template, as it exists in the database.",
                "type": "string",
                "context": ["view", "edit", "embed"]
              },
              "rendered": {
                "description": "HTML title for the template, transformed for display.",
                "type": "string",
                "context": ["view", "edit", "embed"],
                "readonly": true
              }
            }
          },
          "description": {
            "description": "Description of template.",
            "type": "string",
            "default": "",
            "context": ["embed", "view", "edit"]
          },
          "status": {
            "description": "Status of template.",
            "type": "string",
            "enum": ["publish", "future", "draft", "pending", "private"],
            "default": "publish",
            "context": ["embed", "view", "edit"]
          },
          "wp_id": {
            "description": "Post ID.",
            "type": "integer",
            "context": ["embed", "view", "edit"],
            "readonly": true
          },
          "has_theme_file": {
            "description": "Theme file exists.",
            "type": "bool",
            "context": ["embed", "view", "edit"],
            "readonly": true
          },
          "author": {
            "description": "The ID for the author of the template.",
            "type": "integer",
            "context": ["view", "edit", "embed"]
          },
          "modified": {
            "description": "The date the template was last modified, in the site's timezone.",
            "type": "string",
            "format": "date-time",
            "context": ["view", "edit"],
            "readonly": true
          },
          "author_text": {
            "type": "string",
            "description": "Human readable text for the author.",
            "readonly": true,
            "context": ["view", "edit", "embed"]
          },
          "original_source": {
            "description": "Where the template originally comes from e.g. 'theme'",
            "type": "string",
            "readonly": true,
            "context": ["view", "edit", "embed"],
            "enum": ["theme", "plugin", "site", "user"]
          },
          "is_custom": {
            "description": "Whether a template is a custom template.",
            "type": "bool",
            "context": ["embed", "view", "edit"],
            "readonly": true
          }
        }
      },
      "wp_template_part": {
        "$schema": "http://json-schema.org/draft-04/schema#",
        "title": "wp_template_part",
        "type": "object",
        "properties": {
          "id": {
            "description": "ID of template.",
            "type": "string",
            "context": ["embed", "view", "edit"],
            "readonly": true
          },
          "slug": {
            "description": "Unique slug identifying the template.",
            "type": "string",
            "context": ["embed", "view", "edit"],
            "required": true,
            "minLength": 1,
            "pattern": "[a-zA-Z0-9_\\%-]+"
          },
          "theme": {
            "description": "Theme identifier for the template.",
            "type": "string",
            "context": ["embed", "view", "edit"]
          },
          "type": {
            "description": "Type of template.",
            "type": "string",
            "context": ["embed", "view", "edit"]
          },
          "source": {
            "description": "Source of template",
            "type": "string",
            "context": ["embed", "view", "edit"],
            "readonly": true
          },
          "origin": {
            "description": "Source of a customized template",
            "type": "string",
            "context": ["embed", "view", "edit"],
            "readonly": true
          },
          "content": {
            "description": "Content of template.",
            "type": ["object", "string"],
            "default": "",
            "context": ["embed", "view", "edit"],
            "properties": {
              "raw": {
                "description": "Content for the template, as it exists in the database.",
                "type": "string",
                "context": ["view", "edit"]
              },
              "block_version": {
                "description": "Version of the content block format used by the template.",
                "type": "integer",
                "context": ["edit"],
                "readonly": true
              }
            }
          },
          "title": {
            "description": "Title of template.",
            "type": ["object", "string"],
            "default": "",
            "context": ["embed", "view", "edit"],
            "properties": {
              "raw": {
                "description": "Title for the template, as it exists in the database.",
                "type": "string",
                "context": ["view", "edit", "embed"]
              },
              "rendered": {
                "description": "HTML title for the template, transformed for display.",
                "type": "string",
                "context": ["view", "edit", "embed"],
                "readonly": true
              }
            }
          },
          "description": {
            "description": "Description of template.",
            "type": "string",
            "default": "",
            "context": ["embed", "view", "edit"]
          },
          "status": {
            "description": "Status of template.",
            "type": "string",
            "enum": ["publish", "future", "draft", "pending", "private"],
            "default": "publish",
            "context": ["embed", "view", "edit"]
          },
          "wp_id": {
            "description": "Post ID.",
            "type": "integer",
            "context": ["embed", "view", "edit"],
            "readonly": true
          },
          "has_theme_file": {
            "description": "Theme file exists.",
            "type": "bool",
            "context": ["embed", "view", "edit"],
            "readonly": true
          },
          "author": {
            "description": "The ID for the author of the template.",
            "type": "integer",
            "context": ["view", "edit", "embed"]
          },
          "modified": {
            "description": "The date the template was last modified, in the site's timezone.",
            "type": "string",
            "format": "date-time",
            "context": ["view", "edit"],
            "readonly": true
          },
          "author_text": {
            "type": "string",
            "description": "Human readable text for the author.",
            "readonly": true,
            "context": ["view", "edit", "embed"]
          },
          "original_source": {
            "description": "Where the template originally comes from e.g. 'theme'",
            "type": "string",
            "readonly": true,
            "context": ["view", "edit", "embed"],
            "enum": ["theme", "plugin", "site", "user"]
          },
          "area": {
            "description": "Where the template part is intended for use (header, footer, etc.)",
            "type": "string",
            "context": ["embed", "view", "edit"]
          }
        }
      },
      "wp_navigation": {
        "$schema": "http://json-schema.org/draft-04/schema#",
        "title": "wp_navigation",
        "type": "object",
        "properties": {
          "date": {
            "description": "The date the post was published, in the site's timezone.",
            "type": ["string", "null"],
            "format": "date-time",
            "context": ["view", "edit", "embed"]
          },
          "date_gmt": {
            "description": "The date the post was published, as GMT.",
            "type": ["string", "null"],
            "format": "date-time",
            "context": ["view", "edit"]
          },
          "guid": {
            "description": "The globally unique identifier for the post.",
            "type": "object",
            "context": ["view", "edit"],
            "readonly": true,
            "properties": {
              "raw": {
                "description": "GUID for the post, as it exists in the database.",
                "type": "string",
                "context": ["edit"],
                "readonly": true
              },
              "rendered": {
                "description": "GUID for the post, transformed for display.",
                "type": "string",
                "context": ["view", "edit"],
                "readonly": true
              }
            }
          },
          "id": {
            "description": "Unique identifier for the post.",
            "type": "integer",
            "context": ["view", "edit", "embed"],
            "readonly": true
          },
          "link": {
            "description": "URL to the post.",
            "type": "string",
            "format": "uri",
            "context": ["view", "edit", "embed"],
            "readonly": true
          },
          "modified": {
            "description": "The date the post was last modified, in the site's timezone.",
            "type": "string",
            "format": "date-time",
            "context": ["view", "edit"],
            "readonly": true
          },
          "modified_gmt": {
            "description": "The date the post was last modified, as GMT.",
            "type": "string",
            "format": "date-time",
            "context": ["view", "edit"],
            "readonly": true
          },
          "slug": {
            "description": "An alphanumeric identifier for the post unique to its type.",
            "type": "string",
            "context": ["view", "edit", "embed"]
          },
          "status": {
            "description": "A named status for the post.",
            "type": "string",
            "enum": ["publish", "future", "draft", "pending", "private"],
            "context": ["view", "edit", "embed"]
          },
          "type": {
            "description": "Type of post.",
            "type": "string",
            "context": ["view", "edit", "embed"],
            "readonly": true
          },
          "password": {
            "description": "A password to protect access to the content and excerpt.",
            "type": "string",
            "context": ["edit"]
          },
          "title": {
            "description": "The title for the post.",
            "type": "object",
            "context": ["view", "edit", "embed"],
            "properties": {
              "raw": {
                "description": "Title for the post, as it exists in the database.",
                "type": "string",
                "context": ["edit", "embed"]
              },
              "rendered": {
                "description": "HTML title for the post, transformed for display.",
                "type": "string",
                "context": ["view", "edit", "embed"],
                "readonly": true
              }
            }
          },
          "content": {
            "description": "The content for the post.",
            "type": "object",
            "context": ["view", "edit", "embed"],
            "properties": {
              "raw": {
                "description": "Content for the post, as it exists in the database.",
                "type": "string",
                "context": ["edit", "embed"]
              },
              "rendered": {
                "description": "HTML content for the post, transformed for display.",
                "type": "string",
                "context": ["view", "edit", "embed"],
                "readonly": true
              },
              "block_version": {
                "description": "Version of the content block format used by the post.",
                "type": "integer",
                "context": ["edit", "embed"],
                "readonly": true
              },
              "protected": {
                "description": "Whether the content is protected with a password.",
                "type": "boolean",
                "context": ["view", "edit", "embed"],
                "readonly": true
              }
            }
          },
          "template": {
            "description": "The theme file to use to display the post.",
            "type": "string",
            "context": ["view", "edit"]
          }
        },
        "links": [
          {
            "rel": "https://api.w.org/action-publish",
            "title": "The current user can publish this post.",
            "href": "https://sirdev.wpenginepowered.com/wp-json/wp/v2/navigation/{id}",
            "targetSchema": {
              "type": "object",
              "properties": {
                "status": { "type": "string", "enum": ["publish", "future"] }
              }
            }
          },
          {
            "rel": "https://api.w.org/action-unfiltered-html",
            "title": "The current user can post unfiltered HTML markup and JavaScript.",
            "href": "https://sirdev.wpenginepowered.com/wp-json/wp/v2/navigation/{id}",
            "targetSchema": {
              "type": "object",
              "properties": { "content": { "raw": { "type": "string" } } }
            }
          }
        ]
      },
      "wp_navigation-revision": {
        "$schema": "http://json-schema.org/draft-04/schema#",
        "title": "wp_navigation-revision",
        "type": "object",
        "properties": {
          "author": {
            "description": "The ID for the author of the revision.",
            "type": "integer",
            "context": ["view", "edit", "embed"]
          },
          "date": {
            "description": "The date the revision was published, in the site's timezone.",
            "type": "string",
            "format": "date-time",
            "context": ["view", "edit", "embed"]
          },
          "date_gmt": {
            "description": "The date the revision was published, as GMT.",
            "type": "string",
            "format": "date-time",
            "context": ["view", "edit"]
          },
          "guid": {
            "description": "The globally unique identifier for the post.",
            "type": "object",
            "context": ["view", "edit"],
            "readonly": true,
            "properties": {
              "raw": {
                "description": "GUID for the post, as it exists in the database.",
                "type": "string",
                "context": ["edit"],
                "readonly": true
              },
              "rendered": {
                "description": "GUID for the post, transformed for display.",
                "type": "string",
                "context": ["view", "edit"],
                "readonly": true
              }
            }
          },
          "id": {
            "description": "Unique identifier for the revision.",
            "type": "integer",
            "context": ["view", "edit", "embed"]
          },
          "modified": {
            "description": "The date the revision was last modified, in the site's timezone.",
            "type": "string",
            "format": "date-time",
            "context": ["view", "edit"]
          },
          "modified_gmt": {
            "description": "The date the revision was last modified, as GMT.",
            "type": "string",
            "format": "date-time",
            "context": ["view", "edit"]
          },
          "parent": {
            "description": "The ID for the parent of the revision.",
            "type": "integer",
            "context": ["view", "edit", "embed"]
          },
          "slug": {
            "description": "An alphanumeric identifier for the revision unique to its type.",
            "type": "string",
            "context": ["view", "edit", "embed"]
          },
          "title": {
            "description": "The title for the post.",
            "type": "object",
            "context": ["view", "edit", "embed"],
            "properties": {
              "raw": {
                "description": "Title for the post, as it exists in the database.",
                "type": "string",
                "context": ["edit", "embed"]
              },
              "rendered": {
                "description": "HTML title for the post, transformed for display.",
                "type": "string",
                "context": ["view", "edit", "embed"],
                "readonly": true
              }
            }
          },
          "content": {
            "description": "The content for the post.",
            "type": "object",
            "context": ["view", "edit", "embed"],
            "properties": {
              "raw": {
                "description": "Content for the post, as it exists in the database.",
                "type": "string",
                "context": ["edit", "embed"]
              },
              "rendered": {
                "description": "HTML content for the post, transformed for display.",
                "type": "string",
                "context": ["view", "edit", "embed"],
                "readonly": true
              },
              "block_version": {
                "description": "Version of the content block format used by the post.",
                "type": "integer",
                "context": ["edit", "embed"],
                "readonly": true
              },
              "protected": {
                "description": "Whether the content is protected with a password.",
                "type": "boolean",
                "context": ["view", "edit", "embed"],
                "readonly": true
              }
            }
          },
          "meta": {
            "description": "Meta fields.",
            "type": "object",
            "context": ["view", "edit"],
            "properties": {
              "_genesis_block_theme_hide_title": {
                "type": "boolean",
                "description": "",
                "default": false
              }
            }
          },
          "preview_link": {
            "description": "Preview link for the post.",
            "type": "string",
            "format": "uri",
            "context": ["edit"],
            "readonly": true
          }
        }
      },
      "wp_font_family": {
        "$schema": "http://json-schema.org/draft-04/schema#",
        "title": "wp_font_family",
        "type": "object",
        "properties": {
          "id": {
            "description": "Unique identifier for the post.",
            "type": "integer",
            "context": ["view", "edit", "embed"],
            "readonly": true
          },
          "theme_json_version": {
            "description": "Version of the theme.json schema used for the typography settings.",
            "type": "integer",
            "default": 2,
            "minimum": 2,
            "maximum": 2,
            "context": ["view", "edit", "embed"]
          },
          "font_faces": {
            "description": "The IDs of the child font faces in the font family.",
            "type": "array",
            "context": ["view", "edit", "embed"],
            "items": { "type": "integer" }
          },
          "font_family_settings": {
            "description": "font-face definition in theme.json format.",
            "type": "object",
            "context": ["view", "edit", "embed"],
            "properties": {
              "name": {
                "description": "Name of the font family preset, translatable.",
                "type": "string"
              },
              "slug": {
                "description": "Kebab-case unique identifier for the font family preset.",
                "type": "string"
              },
              "fontFamily": {
                "description": "CSS font-family value.",
                "type": "string"
              },
              "preview": {
                "description": "URL to a preview image of the font family.",
                "type": "string",
                "format": "uri",
                "default": ""
              }
            },
            "required": ["name", "slug", "fontFamily"],
            "additionalProperties": false
          }
        }
      },
      "wp_font_face": {
        "$schema": "http://json-schema.org/draft-04/schema#",
        "title": "wp_font_face",
        "type": "object",
        "properties": {
          "id": {
            "description": "Unique identifier for the post.",
            "type": "integer",
            "context": ["view", "edit", "embed"],
            "readonly": true
          },
          "theme_json_version": {
            "description": "Version of the theme.json schema used for the typography settings.",
            "type": "integer",
            "default": 2,
            "minimum": 2,
            "maximum": 2,
            "context": ["view", "edit", "embed"]
          },
          "parent": {
            "description": "The ID for the parent font family of the font face.",
            "type": "integer",
            "context": ["view", "edit", "embed"]
          },
          "font_face_settings": {
            "description": "font-face declaration in theme.json format.",
            "type": "object",
            "context": ["view", "edit", "embed"],
            "properties": {
              "fontFamily": {
                "description": "CSS font-family value.",
                "type": "string",
                "default": ""
              },
              "fontStyle": {
                "description": "CSS font-style value.",
                "type": "string",
                "default": "normal"
              },
              "fontWeight": {
                "description": "List of available font weights, separated by a space.",
                "default": "400",
                "type": ["string", "integer"]
              },
              "fontDisplay": {
                "description": "CSS font-display value.",
                "type": "string",
                "default": "fallback",
                "enum": ["auto", "block", "fallback", "swap", "optional"]
              },
              "src": {
                "description": "Paths or URLs to the font files.",
                "anyOf": [
                  { "type": "string" },
                  { "type": "array", "items": { "type": "string" } }
                ],
                "default": []
              },
              "fontStretch": {
                "description": "CSS font-stretch value.",
                "type": "string"
              },
              "ascentOverride": {
                "description": "CSS ascent-override value.",
                "type": "string"
              },
              "descentOverride": {
                "description": "CSS descent-override value.",
                "type": "string"
              },
              "fontVariant": {
                "description": "CSS font-variant value.",
                "type": "string"
              },
              "fontFeatureSettings": {
                "description": "CSS font-feature-settings value.",
                "type": "string"
              },
              "fontVariationSettings": {
                "description": "CSS font-variation-settings value.",
                "type": "string"
              },
              "lineGapOverride": {
                "description": "CSS line-gap-override value.",
                "type": "string"
              },
              "sizeAdjust": {
                "description": "CSS size-adjust value.",
                "type": "string"
              },
              "unicodeRange": {
                "description": "CSS unicode-range value.",
                "type": "string"
              },
              "preview": {
                "description": "URL to a preview image of the font face.",
                "type": "string",
                "format": "uri",
                "default": ""
              }
            },
            "required": ["fontFamily", "src"],
            "additionalProperties": false
          }
        }
      },
      "type": {
        "$schema": "http://json-schema.org/draft-04/schema#",
        "title": "type",
        "type": "object",
        "properties": {
          "capabilities": {
            "description": "All capabilities used by the post type.",
            "type": "object",
            "context": ["edit"],
            "readonly": true
          },
          "description": {
            "description": "A human-readable description of the post type.",
            "type": "string",
            "context": ["view", "edit"],
            "readonly": true
          },
          "hierarchical": {
            "description": "Whether or not the post type should have children.",
            "type": "boolean",
            "context": ["view", "edit"],
            "readonly": true
          },
          "viewable": {
            "description": "Whether or not the post type can be viewed.",
            "type": "boolean",
            "context": ["edit"],
            "readonly": true
          },
          "labels": {
            "description": "Human-readable labels for the post type for various contexts.",
            "type": "object",
            "context": ["edit"],
            "readonly": true
          },
          "name": {
            "description": "The title for the post type.",
            "type": "string",
            "context": ["view", "edit", "embed"],
            "readonly": true
          },
          "slug": {
            "description": "An alphanumeric identifier for the post type.",
            "type": "string",
            "context": ["view", "edit", "embed"],
            "readonly": true
          },
          "supports": {
            "description": "All features, supported by the post type.",
            "type": "object",
            "context": ["edit"],
            "readonly": true
          },
          "has_archive": {
            "description": "If the value is a string, the value will be used as the archive slug. If the value is false the post type has no archive.",
            "type": ["string", "boolean"],
            "context": ["view", "edit"],
            "readonly": true
          },
          "taxonomies": {
            "description": "Taxonomies associated with post type.",
            "type": "array",
            "items": { "type": "string" },
            "context": ["view", "edit"],
            "readonly": true
          },
          "rest_base": {
            "description": "REST base route for the post type.",
            "type": "string",
            "context": ["view", "edit", "embed"],
            "readonly": true
          },
          "rest_namespace": {
            "description": "REST route's namespace for the post type.",
            "type": "string",
            "context": ["view", "edit", "embed"],
            "readonly": true
          },
          "visibility": {
            "description": "The visibility settings for the post type.",
            "type": "object",
            "context": ["edit"],
            "readonly": true,
            "properties": {
              "show_ui": {
                "description": "Whether to generate a default UI for managing this post type.",
                "type": "boolean"
              },
              "show_in_nav_menus": {
                "description": "Whether to make the post type available for selection in navigation menus.",
                "type": "boolean"
              }
            }
          },
          "icon": {
            "description": "The icon for the post type.",
            "type": ["string", "null"],
            "context": ["view", "edit", "embed"],
            "readonly": true
          }
        }
      },
      "status": {
        "$schema": "http://json-schema.org/draft-04/schema#",
        "title": "status",
        "type": "object",
        "properties": {
          "name": {
            "description": "The title for the status.",
            "type": "string",
            "context": ["embed", "view", "edit"],
            "readonly": true
          },
          "private": {
            "description": "Whether posts with this status should be private.",
            "type": "boolean",
            "context": ["edit"],
            "readonly": true
          },
          "protected": {
            "description": "Whether posts with this status should be protected.",
            "type": "boolean",
            "context": ["edit"],
            "readonly": true
          },
          "public": {
            "description": "Whether posts of this status should be shown in the front end of the site.",
            "type": "boolean",
            "context": ["view", "edit"],
            "readonly": true
          },
          "queryable": {
            "description": "Whether posts with this status should be publicly-queryable.",
            "type": "boolean",
            "context": ["view", "edit"],
            "readonly": true
          },
          "show_in_list": {
            "description": "Whether to include posts in the edit listing for their post type.",
            "type": "boolean",
            "context": ["edit"],
            "readonly": true
          },
          "slug": {
            "description": "An alphanumeric identifier for the status.",
            "type": "string",
            "context": ["embed", "view", "edit"],
            "readonly": true
          },
          "date_floating": {
            "description": "Whether posts of this status may have floating published dates.",
            "type": "boolean",
            "context": ["view", "edit"],
            "readonly": true
          }
        }
      },
      "taxonomy": {
        "$schema": "http://json-schema.org/draft-04/schema#",
        "title": "taxonomy",
        "type": "object",
        "properties": {
          "capabilities": {
            "description": "All capabilities used by the taxonomy.",
            "type": "object",
            "context": ["edit"],
            "readonly": true
          },
          "description": {
            "description": "A human-readable description of the taxonomy.",
            "type": "string",
            "context": ["view", "edit"],
            "readonly": true
          },
          "hierarchical": {
            "description": "Whether or not the taxonomy should have children.",
            "type": "boolean",
            "context": ["view", "edit"],
            "readonly": true
          },
          "labels": {
            "description": "Human-readable labels for the taxonomy for various contexts.",
            "type": "object",
            "context": ["edit"],
            "readonly": true
          },
          "name": {
            "description": "The title for the taxonomy.",
            "type": "string",
            "context": ["view", "edit", "embed"],
            "readonly": true
          },
          "slug": {
[...]
